 .contact {
    background: #000;
}
.contact textarea, .contact input[type="text"], .contact input[type="email"] {
    padding: 10px;
    line-height: 20px;
    height: auto;
}
.contact textarea {
    height: 120px;
}
.contacts, .contact .social {
    color: #fff;
    list-style: none;
    margin-left: 10px;
}
.contacts > li {
    margin-top: 15px;
}
.contacts > li > a {
    color: #fff;
}
.contact-info {
    margin-top:10px;
    margin-bottom:10px;
}
.contact-info p{
     font-weight:normal;
}
.contact-info .icon {
    margin:10px auto;
    font-size:30px;
}
.centered {
    margin-left:auto;
    margin-right:auto;
    float: none;
    text-align: center;
}
.left-align {
    text-align:left;
}
.right-align {
    text-align:left;
}
.error {
    color: #FF0000;
    display: none;
}
